p {
  font-family: Lato;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.mr{
   margin-left:40px;
}
.green{
  background:green;
  color:green;
}
.red{
  background:red;
  color:red;
}
td{
  margin-left:40px;
}